name: Build and Release with PyInstaller

on:
  push:
    tags:
      - "v*"

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          spec: 'main.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'windows_executable'
          options: --onefile, --name "MyApp", --windowed

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          spec: 'main.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'linux_executable'
          options: --onefile, --name "MyApp"

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Install gettext
        run: brew install gettext

      - name: Add gettext to PATH
        run: echo "/usr/local/opt/gettext/bin" >> $GITHUB_PATH

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          spec: 'main.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: 'macos_executable'
          options: --onefile, --name "MyApp"


  release:
    needs: [build-windows, build-linux, build-macos]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Windows artifact
        uses: actions/download-artifact@v3
        with:
          name: windows_executable
          path: ./dist/windows

      - name: Download Linux artifact
        uses: actions/download-artifact@v3
        with:
          name: linux_executable
          path: ./dist/linux

      - name: Download macOS artifact
        uses: actions/download-artifact@v3
        with:
          name: macos_executable
          path: ./dist/macos

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./dist/windows/*
            ./dist/linux/*
            ./dist/macos/*
